* {
  margin: 0px;
  padding: 0px;
}

html{
scroll-behavior: smooth;
}

#wrapper {
  font-family:Roboto, sans-serif;
  height: 100vh;
  margin: 0px auto;



}
#wrapper h1 {
  color: #B22222;

}

.position {
  margin-left: 350px;
  margin-right: 350px;
}
/* Logo and Navigation */

#navigation {
  height: 100px;
  display: flex;
  justify-content: space-around;

}

#logo {
  float: left;


}

#logo img {
  height: 80px;
  margin-top: 10px;
}

#menu {

  padding-top: 35px;
  float: right;
}

#menu ul {
  list-style-type: none;





}
#menu ul li {
  display: inline-block;





}

#menu ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #B22222;
  padding: 12px 25px;

}

#menu ul li a:hover {
  background-color: #B22222;
  color: #fff;
}


/* Navigation Dropdown  */


.dropdown-storePages {
  display: none;
  position: absolute;
  background-color: #ddd;


}
.dropdown-storePages a {
  display:block;
}

.dropdown-store:hover .dropdown-storePages {
  display:block;
  margin-top: 12px;
}
#menu .dropdown-store:hover .storebtn {
  background-color: #b22222;
  color: #7CB9E8;
}
#menu li i {
  margin-left: 5px;
}

/*Main Banner*/

#mainBanner {
padding-bottom: 60px;

}

#mainBanner img {
  width: 100%;
  height: auto;



}



/*Main Page products */

.products {
  margin-bottom: 60px;

}

.products h1 {
  text-decoration: none;
  padding-bottom: 25px;


}


.productimages {
  display: inline-block;
  margin-right: 17px;
  background-color: #ddd;



}

.productrows {
  margin-bottom: 10px;


}
.cleaner {
  clear:both;
}
.strikethrough {
  text-decoration: line-through;
  font-weight: 100;



}
.discountPrice {
  font-size: 22px;
  font-weight: 500;
}




/* Footer */

#footer {
  height: 170px;
  background-color:  #B22222;

}
#footer h2 {
  color: #7CB9E8;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15px;


}
#footer a:hover {
  color: #7CB9E8;
}
.footerPosition {
  margin-top: 15px;
}

/*Footer Nav */

#footerNav {
  float:left;
  margin-right: 100px;
}

#footerNav a {
  text-decoration: none;
  color: white;
  font-size: 16px;

}
#footerNavbuttons {
  margin-top: 5px;
}
#footerNavbuttons li {
  margin-top: 5px;
}

#footerNav ul {
  list-style-type: none;
}

/*Footer Connect*/

#footerConnect{
	float:left;
}

#footerConnectIcons {
	margin-top: 5px;
	font-size: 22px;
	
	
}
#footerConnectIcons a {
	color: white;
	
}
#footerConnectIcons i {
	margin-top: 4px;
}
#facebookIcon:hover, #youtubeIcon:hover, #instagramIcon:hover, #rssIcon:hover {
	color:#7CB9E8;
}
/*Footer Abous Us*/
#footerAboutUs {
	width: 400px;
	float:left;
	margin-left: 100px;
	color: white;
	font-size: 15px;
}
#footerAboutUs p {
	margin-top: 8px;
	text-align: center;
}
#footerAboutUs img {
	width: 40px;
	margin-left: 167px;
}

/*Footer Contact*/
#footerContact {
	float:right;
	color: white;
}
.footerInfo{
	margin-top: 5px;
	width: 360px;
	height: 36px;
	
}
.footerIcon {
	float:left;
	font-size: 22px;
	margin-right: 20px;
}
.footerText {
	padding-top: 3px;
}



/* Store  */

#store {
  margin-top: 100px;
  margin-bottom: 250px;
  
}

.storeimages {
    display: inline-block;
    margin-right: 17px;
    margin-bottom: 17px;
    background-color: #ddd;
	width: 23%;
}

.imagebutton {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.imagedropup {
  position: relative;
  display: inline-block;
}

.imageDropupPrice {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  bottom: 50px;
  z-index: 1;
}

.imageDropupPrice a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.imageDropupPrice a:hover {background-color: #ccc}

.imageDropup:hover .imageDropupPrice {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}





/* Product layout*/

.descriptionPosition{
    position: relative;
    }

.img_description_layout{
  position: absolute;
  bottom: 0;left: 0;right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  visibility:hidden;
  opacity: 0;

}

.img_description{
  transition: .5s;
  font-size: 25px ;
  transform: translateY(-30px);
  color: #7CB9E8;
  margin-left: 10px;

}
.img_price {
  transition: .5s;
  font-size: 16px ;
  transform: translateY(-30px);
  color: white;
  margin-bottom: 10px;
  margin-left: 10px;


}
.descriptionPosition:hover .img_description_layout{
  visibility: visible;
  opacity: 1;
}
.descriptionPosition:hover .img_description{
  transform: translateY(-5px);

}
.descriptionPosition:hover .img_price {
  transform: translateY(-5px);

}

/*About Us */

#aboutUs {
  padding-top: 100px;
}

.aboutusText {
  float:left;
  text-align: justify;
  width: 30%;

}
.aboutusText h1 {
  margin-bottom: 20px;
}

.parallax {
  background-image: url("../images/parallax_2.jpg");
  float: right;
  width: 65%;
  height: 300px;
  margin-right: 20px;
  margin-top: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-left: 20px;



}










/* Contact Form */

#contact {
  padding:  0px;
  margin-top: 200px;
  margin-bottom: 300px;



}

#contact h1 {
  margin-bottom: 20px;
  text-align: center;


}


.contactForm {
  border-radius: 5px;
  background-color: #ddd;
  padding: 20px;
  width: 50%;
  margin: 0 auto;

}


input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 14px;
  resize: none;
}


input[type=submit] {
  background-color: #b22222;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7CB9E8;
  color: #b22222;
}



#subject {
  height: 200px;

}


/*  Author  */

#author {
  padding-top: 100px;
  margin-bottom: 50px;
}

.authorImg {
  padding-top: 20px;
  float: left;

}

.authorText {
  float: left;
  text-align: justify;
  width: 500px;
  padding-top: 20px;
  padding-left: 20px;


}

/*Optimization*/

@media (max-width: 1899px)  {
	
	.productimages {
	  margin-bottom:17px;
	  width: 40%;
  }
  	.productimages img{
	  padding-left: 100px;
  }

}


/*1798PX and bellow*/
@media only screen and (max-width:1798px) {
	.productimages img{
		padding-left: 85px;
	}
	#footerNav {
		display:none;
		margin-right:0px;
	}
	  
}
/*1698PX and bellow*/
@media only screen and (max-width:1698px) {
	.productimages img{
		padding-left: 65px;
	}
	.storeimages {
		width: 40%;
	}
	
	  
}
/*1628PX and bellow*/
@media only screen and (max-width:1628px) {
	#footerConnect{
		margin-right:0px;
	}
	#footerAboutUs {
		margin-left: 40px;
	}
	  
}
/*1598PX and bellow*/
@media only screen and (max-width:1598px) {
	.productimages img{
		padding-left: 40px;
	}
	
	  
}
/*1568PX and bellow*/
@media only screen and (max-width:1568px) {
	
	#footerAboutUs {
		width: 200px;
		margin-left: 100px;
	}
	#footerAboutUs span{
		display:none;
	}
	#footerAboutUs img{
		margin-left:70px;
	}
	  
}
/*1498PX and bellow*/
@media only screen and (max-width:1498px) {
	.productimages img{
		padding-left: 20px;
	}
	#footerAboutUs {
		
		margin-left: 20px;
	}
	#footerContact {
		
		margin-left:20px;
	}
	  
}

/*1398PX and bellow*/
@media only screen and (max-width:1398px) {
	.productimages img{
		padding-left: 40px;
		margin:0 auto;
		
	}
	#footerAboutUs {
		
		margin-left: 20px;
	}
	.position {
    margin-left:250px;
	margin-right: 250px;
  }
	
	  
}
/*1298PX and bellow*/
@media only screen and (max-width:1298px) {
	.productimages img{
		padding-left: 40px;
		margin:0 auto;
		
	}

	.position {
    margin-left:200px;
	margin-right: 200px;
  }
	
	  
}
/*1198PX and bellow*/
@media only screen and (max-width:1198px) {
	.productimages img{
		padding-left: 40px;
		margin:0 auto;
		
	}

	.position {
    margin-left:150px;
	margin-right: 150px;
  }
	
	  
}
/*1098PX and bellow*/
@media only screen and (max-width:1198px) {
	.productimages img{
		padding-left: 40px;
		margin:0 auto;
		
	}

	.position {
    margin-left:100px;
	margin-right: 100px;
  }
	
	  
}
/*998PX and bellow*/
@media only screen and (max-width:998px) {
	.productimages img{
		padding-left: 15px;
		margin:0 auto;
		
	}

	.position {
    margin-left:170px;
	margin-right: 50px;
  }
	
	  
}
/*898PX and bellow*/
@media only screen and (max-width:898px) {
	.productimages img{
		padding-left: 15px;
		margin:0 auto;
		
	}

	.position {
    margin-left:120px;
	margin-right: 0px;
  }
	
	  
}
/*798PX and bellow*/
@media only screen and (max-width:798px) {
	.productimages img{
		padding-left: 0px;
		margin:0 auto;
		
	}

	.position {
    margin-left:120px;
	margin-right: 0px;
  }
	
	  
}
/*788PX and bellow*/
@media only screen and (max-width:788px) {
  
  .menu {
    width:100%;
  }
  
  #logo {
    display:none;
  }

  .position {
    margin-left: 100px;
  }
  #productimages {
	  margin:0 auto;
  }


	#menu ul a {
	  font-size: 20px;
	  padding: 12px 20px;

	}

	.productimages {
	  margin-right: 17px;
	  margin-bottom:17px;



	}
	#footerAboutUs {
		display:none;
	}

	#footerNav {
		margin-right:60px;
	}

	#footerConnect{
		margin-right:30px;
	}


	
}

/*770PX and bellow*/
@media only screen and (max-width:770px) {

	.position {
			margin: 0px;
		}
  .productimages {
	 width: 55%;
	 
	}
	#products {
		margin-left: 140px;
	}
}
/*700PX and bellow*/
@media only screen and (max-width:700px) {

	.storeimages {
		width: 50%;
	}
	
}
/*617PX and bellow*/
@media only screen and (max-width:617px) {

	#menu ul a {
	  font-size: 20px;
	  padding: 8px 16px;

	}
	 .productimages {
	 width: 60%;
	 
	}
	#footerConnect {
		margin-left: 50px;
	}
}
/*578PX and bellow*/
@media only screen and (max-width:578px) {

	#footerConnect {
		display:none;
	}
	#footerContact {
		float:left;
	}
	.position {
		margin: 0px;
	}
	.parallax {
		display:none;
	}
	.aboutusText {
		margin-left: 200px;
	}
}


/*Documentation*/
#documentation {
	margin-bottom: 300px;
}
#documentation h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	color: #B22222;
}
#documentation h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #B22222;
}
#documentation h4 {
	margin-bottom: 10px;
	margin-top: 10px;
	color: #B22222;
}
#documentation p {
	line-height: 25px;
}

